<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Teammato</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button class="nav-item nav-link active" routerLink="/signup" [hidden]='loggedIn'>Sign Up<span class="sr-only">(current)</span></button>
      <button class="nav-item nav-link active" routerLink="/login" [hidden]='loggedIn'>Log In</button>
      <button class="nav-item nav-link active" routerLink="/profile" [hidden]='!loggedIn'>Profile</button>
      <button class="nav-item nav-link active" (click)="logoutClick()" routerLink="/" [hidden]='!loggedIn'>Log Out</button>
    </div>
  </div>
</nav>
