* {
  scrollbar-width: 3px;
}

#chatbox {

  padding: .5em;
  height: 30vh;
  overflow-y: scroll;
}

#chatbox-body::-webkit-scrollbar {
  overflow: hidden;
  overflow-y: scroll;

}

#whole {
  border: 2px solid black;
}

#chatbar {
  width: 100%;
}

input {
  width: 90%;
}

form {
  padding: 3px;
  margin: 3px;
}

button {
  margin-left: 3px;
  width: 8em;
}
