#chatbox {
  overflow: scroll;
  padding: .5em;
  height: 30vh;
}

#chatbox-body::-webkit-scrollbar {
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

#whole {
  border: 2px solid black;
}

#chatbar {
  width: 100%;
}

input {
  width: 90%;
}

form {
  padding: 3px;
  margin: 3px;
}

button {
  margin-left: 3px;
  width: 8em;
}

.chattext {
  width: 100%;
  overflow-wrap: break-word;
}

#head {
  border-bottom: 2px solid black;
}
