#goals {
  border: 2px solid black;
  margin: 1px;
}

.goalScroll {
  height: 300px;
  overflow: scroll;
}

#head {
  border-bottom: 2px solid black;
  text-align: center;
}

#goalEdit {
  border-bottom: 2px solid black;
  padding: 15px;
}

#goalDiv {
  width: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}
