#backlog {
  font-family: 'Lucida Sans Unicode';
  font-size: 13px;
}

h1 {
  font-family: "Cinzel";
  letter-spacing: .2em;
}


b {
  font-size: 15px;
  color: #0f3340;
  font-family: 'Lucida Sans Unicode';
}

.rating {
  margin-left: 15px;
}

.goalTitle {
  color: #0f3340;
}
