.head {
  text-align: center;
  font-size: 45px;
}

.teams {
  font-size: 25px;
  margin-left: 5em;
  margin-right: 5em;
  width: auto;
  text-align: center;
}

button {
  background: transparent;
}

.teamInfo {
  text-align: center;
  font-size: 15px;
  font-family: 'Lucida Sans Unicode';
  padding: 2em;
  padding-top: 3px;
}
