#sidebarClose {
  cursor: pointer;
  margin-left: 85%;
}

.container-fluid {
  margin-left: 2%;
  margin-right: 2%;
  width: auto;
}

#appBody {
  color: #0f3340;
  background: linear-gradient(3.14turn, hsla(198, 56%, 48%, 0.336), #E6E6E6 50em, hsla(198, 56%, 48%, 0.336));
  font-family: "Cinzel";
  letter-spacing: .2em;
}
