<div class="container animated fadeIn">
  <h1>Add Goal</h1>
  <form (ngSubmit)="create(createGoalForm)" #createGoalForm="ngForm" autocomplete="off">
    <div *ngIf="error" id="errorMessage">{{errorMessage}}</div>
    <div class="form-group">
      <label for="name"><strong>Title:</strong></label>
      <input type="text" placeholder="Enter a title for goal..." class="form-control" id="username" required
        [(ngModel)]="formData.title" name="title" #title="ngModel">
      <label for="desc"><strong>Goal Description:</strong></label>
      <input type="text" placeholder="Enter a description for goal..." class="form-control" id="description" required
        [(ngModel)]="formData.desc" name="desc" #desc="ngModel">
      <label for="priority"><strong>Goal Priority:</strong></label>
      <input type="range" list="tickmarks" min="1" max="5" placeholder="Enter a 1-5 priority rank for goal..." class="form-control"
        id="rate" required [(ngModel)]="formData.rate" name="rate" #rate="ngModel">
      <datalist id="tickmarks">
        <option value="1" label="1">
        <option value="2" label="2">
        <option value="3" label="3">
        <option value="4" label="4">
        <option value="5" label="5">
      </datalist>
    </div>
    <button type="submit" [disabled]="!createGoalForm.form.valid" class="btn btn-success">Submit</button>

  </form>
</div>
