#errorMessage {
  color: red;
}

.container {
  font-size: 18px;
  width: 50%;
  font-family: 'Lucida Sans Unicode'
}

h1 {
  border-bottom: 1px solid #0f3340;
  text-align: center;
  margin-top: 10%;
  font-family: 'Cinzel'
}
