<div class="container">
  <h1>Log In</h1>
  <form (ngSubmit)="login(logInForm)" #logInForm="ngForm" autocomplete="off">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="formData.username" name="username"
        #username="ngModel">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="formData.password" name="password"
        #password="ngModel">
    </div>

    <button type="submit" [disabled]="!logInForm.form.valid" class="btn btn-success">Submit</button>

  </form>
</div>
