#welcome {
  font-size: 25px;
  text-align: center;
}

.goalView {
  max-height: 45vh;
  overflow: scroll;
}

.goalHead {
  text-align: center;
  background-color: #0f3340;
  width: 95%;
  margin: auto;
  color: white;
  border-top-right-radius: 1.25em;
  border-top-left-radius: 1.25em;
  padding-top: 3px;
}
