#completed {
  font-family: 'Lucida Sans Unicode';
  font-size: 15px;
}

h1 {
  font-family: "Cinzel";
  letter-spacing: .2em;
}


b {
  font-size: 18px;
  color: #0f3340;
  font-family: 'Lucida Sans Unicode';
}
